*.iml
.gradle
.DS_Store
/local.properties
.idea
build
/captures
gradle
.externalNativeBuild
app/src/main/java/com/nikhil/bletrial/v1/ParseBytes.java
app/src/main/java/com/nikhil/bletrial/v1/GattAttributes.java
app/src/main/java/com/nikhil/bletrial/v1/ConstantsV1.java